

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.grid-container {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    width: 500%;
    width: 70px;
}

.item {
    background-color: #333;
    color: white;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.one {
    grid-column: span 3;
}

.two {
    grid-column: span 1;
    grid-row: span 2;
}

.three {
    grid-column: span 2;
}

.four {
    grid-column: span 1;
}

.five {
    grid-column: span 1;
}
