ol { 
    margin-left: 20px;
    padding-left: 10px;
    font-size: 16px;
    color: #000000;
}

ul {
    list-style-image: url('How-to-Draw-Rocket-–-Featured-Image.jpg');
    margin-left: 20px;
    padding-left: 10px;
    font-size: 16px;
    color: #000000;
}