.ba {
    background-image: url('download.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
    color: white; 
    padding: 20px;
    text-align: center;
}