@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&family=Edu+VIC+WA+NT+Beginner:wght@400..700&family=Jersey+10&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@400..700&display=swap');

h1{
    text-align: center;
}

#h11{
    font-family:"Edu VIC WA NT Beginner","Bodoni Moda SC","Bungee Tint";
}
#h12{
    font-family:"Bodoni Moda SC","Edu VIC WA NT Beginner","Bungee Tint";
}
#h13{
    font-family:"Bungee Tint","Bodoni Moda SC","Edu VIC WA NT Beginner";
}